// GRID STYLES

.section {
  padding: $m-gutter * 2;
}

.container {
  max-width: $m-maxcontentwidth;
  margin: 0 auto;
  // border: 1px solid $c-yellow;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -1rem;
  // border: 1px solid $c-pink;

  &__item {
    display: flex;
    flex-basis: calc(100% / 3 - 1rem - 1rem);
    justify-content: center;
    margin: $m-gutter;
  }
}
