// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';



// COLORS

$c-brandprimary: #3473b5;
$c-brandwhite: #fff;
$c-pink: #e577aa;
$c-blue: #72bbe9;
$c-green: #7abe93;
$c-yellow: #e5b178;

// MEASUREMENTS
$m-gutter: 1rem;
$m-maxcontentwidth: 60rem;



.shop-card {
  padding: $m-gutter;
  border: 0.2rem solid $c-brandprimary;
  text-align: center;
}














@import 'box-sizing';
@import 'resets';
