// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';



// COLORS

$c-brandprimary: #3473b5;
$c-brandwhite: #fff;
$c-pink: #e577aa;
$c-blue: #72bbe9;
$c-green: #7abe93;
$c-yellow: #e5b178;

// MEASUREMENTS
$m-gutter: 1rem;
$m-maxcontentwidth: 60rem;


@media (min-width: 560px) and (max-width: 764px) {

  .grid {
    flex-direction: column;

    &__item {

    }
  }


  .shop-card {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__pic {
      height: 15rem;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .button-bar {
    display: flex;
    flex-direction: column;

    &__button {
      flex-grow: 1;
    }
  }
}














@import 'box-sizing';
@import 'resets';
@import 'grid';
@import 'shopcard';
